* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
html, body, .App, #root {
  /* Make the body to be as tall as browser window */
  height: 100%;
}

.App {

}

.loading{
  text-align: center;
  padding: 10px;
}

.App-header button {
  margin-right: 5px;
}

.App-header {
  background-color: #f7f7f7;
  height: 59px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #ccc;
}

.App-intro {
  font-size: large;
}
.note {
  height: 100%;
  padding: 5px;
}

input {
  color: #555;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
input:focus {
  outline: none;
  border-bottom-color: #b3b3b3;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #b3b3b3;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #b3b3b3;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #b3b3b3;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-top-style: solid;
   border-top-width: 1px;
}
.note button, .note input,.note .CodeMirror {
  margin-bottom: 5px;
}
.note input, .note button {
  margin-left: 30px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(100% - 59px);
  overflow: hidden;
}
.codeView {
  flex: 1 0 auto;
}
.codeList {
  min-width: 100px;
  flex: 0 0 auto;
  overflow: scroll;
  height: 100%;
  border-left: 1px solid #ccc;
}
.codeList ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.codeList ul li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.codeList ul li:nth-child(even){
  background-color: #f7f7f7
}
.codeList ul li:hover{
  background-color: lightblue;
  cursor: pointer;
}
.codeList ul li.active {
  cursor: not-allowed;
  text-decoration: underline;
}
