* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
html, body, .App, #root {
  /* Make the body to be as tall as browser window */
  height: 100%;
}

.App {

}

.loading{
  text-align: center;
  padding: 10px;
}

.App-header {
  background-color: #f7f7f7;
  height: 59px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
