.ReactCodeMirror {
  text-align: left;
  min-height: calc(100% - 59px);
  height: calc(100% - 59px);

}
.CodeMirror {
  height: 100%;
  background-color: transparent;
}
.CodeMirror-gutters{
  background-color: transparent;
}
